<div class="container">
  <p></p>

  <mat-toolbar class="toolbar_app toolbar_custo" color="primary">
    <button mat-button>
      <span>Imprenta Margraf</span>
    </button>
    <span class="example-spacer"></span>
    <button (click)="abrirLogin()" mat-icon-button class="example-icon"
      aria-label="Example icon-button with share icon">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-toolbar>

  <p></p>

  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner conte_carouse">
      <div class="carousel-item active">
        <img src="./assets/images/carousel_1.jpg" class="d-block w-100 carta" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/carousel_2.jpg" class="d-block w-100 carta" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/carousel_3.jpg" class="d-block w-100 carta" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/carousel_4.jpg" class="d-block w-100 carta" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <p></p>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100 card_tam">
        <img src="./assets/images/products/agendas.jpg" class="card-img-top img_card" alt="...">
        <div class="card-body">
          <h5 class="card-title">AGENDAS</h5>
          <p class="card-text texto_for">Ofrecemos agendas personalizadas con hojas diseñadas específicamente para tu
            empresa,
            anillado... <br><br> Desde el diseño de las hojas con tu logotipo y colores corporativos hasta la elección
            del tipo
            de encuadernación, nos aseguramos de que cada detalle sea personalizado para ti.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card_tam">
        <img src="./assets/images/products/tarjetas_presentacion.jpg" class="card-img-top img_card" alt="...">
        <div class="card-body">
          <h5 class="card-title">TARJETAS DE PRESENTACIÓN</h5>
          <p class="card-text texto_for">Si necesitas una presentación más detallada de tu empresa nuestras tarjetas de
            presentación pueden ayudarte a transmitir información adicional, como servicios ofrecidos, detalles de
            contacto y logotipos. <br> <br> • Puedes personalizar el diseño.
            <br> <br> • Acabados especiales: barnizado UV, laminado brillante.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card_tam">
        <img src="./assets/images/products/cajas_troqueladas.jpg" class="card-img-top img_card" alt="...">
        <div class="card-body">
          <h5 class="card-title">CAJAS TROQUELADAS Y DISEÑO PERSONALIZADO</h5>
          <p class="card-text texto_for">• Cajas troqueladas a medida para tus productos y promociones. <br> <br> •
            Diseños
            atractivos
            y originales que reflejan la identidad de tu marca. <br> <br> • Soluciones creativas y profesionales para
            destacar en el mercado.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card_tam">
        <img src="./assets/images/products/gigantograficas.jpg" class="card-img-top img_card" alt="...">
        <div class="card-body">
          <h5 class="card-title">GIGANTOGRAFÍAS</h5>
          <p class="card-text texto_for"> Solución impresionante para destacar tu marca o mensaje. <br> • Gigantografías
            a medida
            con
            impresiones de gran formato y alta calidad. <br> • Ideal para publicidad exterior, eventos, ferias
            comerciales y
            promociones. <br> • Diseños personalizados que capturan la atención de tu público objetivo. <br> •
            Utilizamos
            materiales duraderos y resistentes para garantizar resultados excepcionales.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card_tam">
        <img src="./assets/images/products/volantes.jpg" class="card-img-top img_card" alt="...">
        <div class="card-body">
          <h5 class="card-title">VOLANTES</h5>
          <p class="card-text texto_for">Se imprimen en papel de alta calidad. <br><br> Tamaños estándar, como A4, A5 o
            carta.<br><br>Son ideales para promociones generales, eventos, anuncios de productos o servicios y
            distribución masiva. <br><br>Acabados especiales, como barnizado UV, laminado brillante o estampado en
            caliente.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card_tam">
        <img src="./assets/images/products/boligrafos.jpg" class="card-img-top img_card" alt="...">
        <div class="card-body">
          <h5 class="card-title">BOLÍGRAFOS SUBLIMADOS</h5>
          <p class="card-text texto_for">Personalizados con el logo de tu empresa. <br> • Nuestro proceso de sublimación
            nos
            permite
            imprimir con precisión y colores vibrantes directamente en el cuerpo del bolígrafo. <br> • Te permite
            promocionar
            tu negocio o como regalos corporativos. <br> • Destaca entre la multitud con un bolígrafo exclusivo que
            refleje
            la identidad de tu empresa y deje una impresión duradera.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card_tam">
        <img src="./assets/images/products/roll_up.jpg" class="card-img-top img_card" alt="...">
        <div class="card-body">
          <h5 class="card-title">ROLL UP</h5>
          <p class="card-text texto_for">Roll up personalizados de alta calidad con diseños exclusivos, impresión de
            vanguardia y
            materiales duraderos. Con una variedad de tamaños y precios competitivos, brindamos soluciones impactantes y
            fáciles de montar para promociones, eventos y exhibiciones. Atención al cliente personalizada y entrega
            rápida son parte de nuestro compromiso</p>
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <p></p>
</div>

<footer class="pie_web">
  <div class="outerContainer">
    <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
      <div>
        <div fxLayout="row" class="container" fxLayoutAlign="space-around center">
          <div fxFlex="30" fxLayoutAlign="center center" class="caja_footer_1">
            <div fxLayout="column" fxLayoutAlign="space-evenly start">
              <img class="logo" src="./assets/images/logo_margraf_nombre.jpg" alt="">
              <h3 class="text_footer">Empresa</h3>
              <p class="text_footer">diseño de la arquitectura del proyecto (usuario, clientes, conexión protocolo web,
                servidor</p>
            </div>
          </div>
          <div fxFlex="30" fxLayoutAlign="center center" class="text_footer">
            <div fxLayout="column" fxLayoutAlign="space-evenly start">
              <h4>MISIÓN</h4>
              <p>Nuestra misión es atender las necesidades del mercado nacional, produciendo etiquetas y embalajes de
                alta calidad para empresas externas. Estamos comprometidos en establecer una relación sinérgica con cada
                uno de nuestros clientes, brindando soluciones que se ajusten a sus requerimientos específicos. Para
                lograrlo, contamos con un equipo de profesionales capacitados y utilizamos materias primas adecuadas,
                asegurando la excelencia en cada uno de nuestros productos.</p>
            </div>
          </div>
          <div fxFlex="30" fxLayoutAlign="center center" class="text_footer">
            <div fxLayout="column" fxLayoutAlign="space-evenly start">
              <h4>VISIÓN</h4>
              <p>Nuestra visión es ser líderes en el campo gráfico a nivel nacional e internacional, destacándonos por
                nuestra calidad, servicio y capacidad innovadora. Nos esforzamos por mantener altos niveles de
                eficiencia en todas nuestras actividades, superando las expectativas de nuestros clientes y
                estableciendo relaciones duraderas basadas en la confianza y la satisfacción.</p>
            </div>
          </div>
          <div fxFlex="10"></div>
        </div>
      </div>
      <hr class="solid">
      <div fxLayoutAlign="center center" class="container">
        <p class="text_footer">Todos los derechos reservados</p>
        <div></div>
      </div>
    </div>
  </div>
</footer>