.example-spacer {
  flex: 1 1 auto;
}

.toolbar_custo {
  border-radius: 5px;
  // position: fixed;
  // z-index: 1;
}

.carta {
  max-height: 500px;
  object-fit: cover;
}

.conte_carouse {
  max-height: 500px;
}

.pie_web {
  background-color: #242637;
}

.text_footer {
  color: white;
  font-family: 'Poppins';
}

.texto_for {
  text-align: justify;
}

hr.solid {
  border-top: 2px solid white;
  margin-left: 7%;
  margin-right: 7%;
}

.caja_footer_1 {
  padding-top: 20px;
}

.logo {
  max-width: 250px;
}

.card_tam {
  max-width: 350px;
}

.img_card {
  max-height: 280px;
  object-fit: cover;
}