.example-spacer {
  flex: 1 1 auto;
}

.card_title {
  background-color: #3F51B5;
  padding-top: 0%;
}

.mat_card_title {
  padding: 0%;
  padding-top: 0%;
}

.pie_web{
  background-color: #242637;
}

.carta{
  max-height: 500px;
}

.text_footer{
  color: white;
  font-family: 'Poppins';
}
hr.solid {
  border-top: 2px solid white;
  margin-left: 7%;
  margin-right: 7%;
}

.caja_footer_1{
  padding-top: 20px;
}

.logo{
  max-width: 250px;
}