<div>
  <div>
    
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Juan" #input>
    </mat-form-field>

    <section class="example-container mat-elevation-z8" tabindex="0">
      <table mat-table [dataSource]="usuarios" matSort class="mat-elevation-z8 demo-table">

        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.idpp_user}} </td>
        </ng-container>

        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} {{element.apellido}}</td>
        </ng-container>

        <ng-container matColumnDef="Correo">
          <th mat-header-cell *matHeaderCellDef> Correo </th>
          <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
        </ng-container>

        <ng-container matColumnDef="Usuario">
          <th mat-header-cell *matHeaderCellDef> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
        </ng-container>

        <ng-container matColumnDef="Rol">
          <th mat-header-cell *matHeaderCellDef> Rol </th>
          <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon matTooltip="Editar" fontIcon="edit" class="iconBtn edit"></mat-icon>
            <mat-icon matTooltip="Eliminar" fontIcon="delete" class="iconBtn delete"></mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsUser"></tr>
        <tr mat-row (click)="clickUsuario=row" *matRowDef="let row; columns: displayedColumnsUser;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
        </tr>

      </table>
    </section>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

  <div>
    <div>
      <h3>
        Usuario Seleccionado
      </h3>
    </div>

    <div *ngIf="clickUsuario.idpp_user==0">
      Clicked rows will be logged here
    </div>

    <div>
      <!-- <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default">
      </div> -->

    </div>

    <ul>
      <li *ngIf="clickUsuario.idpp_user!=0">
        Clicked on {{clickUsuario.nombre}} {{clickUsuario.apellido}}
      </li>
    </ul>
  </div>
</div>