<mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <h4 class="example-app-name">MARGRAF</h4>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav [mode]="'over'">

        <h4 class="name">Nombre gerente</h4>
        <p class="designation">Gerente</p>

        <mat-divider></mat-divider>
        <button [routerLink]="['/admin/users']" [routerLinkActive]="'optionActive'" mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Usuarios</span>
        </button>
        <button [routerLink]="['/admin/facturas']" [routerLinkActive]="'optionActive'" mat-button class="menu-button">
            <mat-icon>description</mat-icon>
            <span>Facturas</span>
        </button>
        <button [routerLink]="['/admin/inventario']" [routerLinkActive]="'optionActive'" mat-button class="menu-button">
            <mat-icon>store</mat-icon>
            <span>Inventario</span>
        </button>
        <button [routerLink]="['/admin/pedidos']" [routerLinkActive]="'optionActive'" mat-button class="menu-button">
            <mat-icon>store</mat-icon>
            <span>Pedidos</span>
        </button>
        <button [routerLink]="['/admin/analisis']" [routerLinkActive]="'optionActive'" mat-button class="menu-button">
            <mat-icon>trending_up</mat-icon>
            <span>Análisis</span>
        </button>
        <button [routerLink]="['/admin/clientes']" [routerLinkActive]="'optionActive'" mat-button class="menu-button">
            <mat-icon>people</mat-icon>
            <span>Clientes</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>contacts</mat-icon>
            <span>Contactos</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>Tarifas</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar Sesión</span>
        </button>

    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>