  mat-toolbar {
    background: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  }

  mat-icon {
    margin-right: 8px;
  }

  .name {
    margin-top: 8px;
    font-weight: normal;
  }

  .designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
  }

  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .content {
    height: calc(100vh - 98px);
    margin: 5px;
  }
  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-radio-group {
    display: block;
    border: 1px solid #555;
    margin: 20px;
    padding: 10px;
  }
  
  mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: blue;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
  }

  mat-sidenav button span,
  mat-sidenav button mat-icon {
    color: #fff;
  }

  .optionActive{
    --tw-bg-opacity: 1;
    background-color: rgb(7 109 183 / var(--tw-bg-opacity))
  }