<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <div>
        <!-- <img src="images/logoNissiware2.png" alt=""> -->
        <h1>MARGRAF</h1>
    </div>
</mat-toolbar>

<mat-drawer-container class="example-container">
    <mat-drawer #sidenav mode="side" [mode]="mobileQuery.matches ? 'over' : 'side'"
        [opened]="mobileQuery.matches ? false : true" class="mat-elevation-z8">

        <h4 class="name">Nombre gerente</h4>
        <p class="designation">Gerente</p>

        <mat-divider></mat-divider>
        <button [routerLink]="['/admin/users']" mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Usuarios</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>description</mat-icon>
            <span>Facturas</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>store</mat-icon>
            <span>Inventario</span>
        </button>
        <button [routerLink]="['/admin/pedidos']" mat-button class="menu-button">
            <mat-icon>store</mat-icon>
            <span>Pedidos</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>trending_up</mat-icon>
            <span>Análisis</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>people</mat-icon>
            <span>Clientes</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>contacts</mat-icon>
            <span>Contactos</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>Tarifas</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar Sesión</span>
        </button>
    </mat-drawer>

    <mat-drawer-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>