<div class="flex">
    <!-- MENU LATERAL -->
    <div class="w-2/12 bg-blue-800 h-screen hidden md:block">
        <div>
            <a><img src="assets/images/logo_margraf_nombre.jpg" alt="logo" class="w-4/5 m-auto pt-4" /></a>
        </div>

        <div class="dropdown dropend flex justify-center mt-4 mb-9">
            <a href="#" class="d-block link-dark text-decoration-none animate_animated animate_backInRight"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="120" height="120" class="rounded-circle" />
            </a>
            <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item">Cerrar Sesión</a></li>
            </ul>
        </div>

        <div class="text-white text-center flex cursor-pointer p-2 m-3 rounded hover:bg-red-900">
            <div class="logo mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-gear w-5"
                    viewBox="0 0 16 16">
                    <path
                        d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Zm3.63-4.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
                </svg>
            </div>
            <div class="link flex">Opción 1</div>
        </div>

        <div class="text-white text-center flex cursor-pointer p-2 m-3 rounded hover:bg-red-900">
            <div class="logo mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-buildings" viewBox="0 0 16 16">
                    <path
                        d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z" />
                    <path
                        d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z" />
                </svg>
            </div>
            <div class="link flex">Opción 2</div>
        </div>

        <div class="text-white text-center flex cursor-pointer p-2 m-3 rounded hover:bg-red-900">
            <div class="logo mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                    <path
                        d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z" />
                    <path
                        d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z" />
                </svg>
            </div>
            <div class="link flex">opción 3</div>
        </div>
        <div class="text-white text-center flex cursor-pointer p-2 m-3 rounded hover:bg-red-900">
            <div class="logo mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-building-fill" viewBox="0 0 16 16">
                    <path
                        d="M3 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3v-3.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V16h3a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H3Zm1 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Z" />
                </svg>
            </div>
            <div class="link flex">Opción 3</div>
        </div>
        <div class="text-white text-center flex cursor-pointer p-2 m-3 rounded hover:bg-red-900">
            <div class="logo mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                    <path
                        d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
                </svg>
            </div>
            <div class="link flex">Opción 4</div>
        </div>
    </div>
    <!-- CONTENIDO -->
    <div class="w-full sm:w-5/6 px-4 pt-4">
        <!-- TITULO -->
        <div>
            <span class="uppercase font-bold"> | Registrar Administrador</span>
        </div>
        <!-- REGISTRO -->
        <div class="w-full flex flex-col md:flex-row">

            <form class="example-form">
                <!-- APARATADO DE LA FOTO -->
                <div style="margin-top:30px"
                    class="container-foto w-full  md:w-1/5 md:h-15 flex items-center justify-center">
                    <label
                        class=" cursor-pointer mx-6 rounded border-2 border-slate-300 border-dashed h-24 flex justify-center items-center">
                        <input type="file" class="hidden" formControlName="photo" accept="image/*">
                        <p class="text-sm text-slate-400 font-sans p-2 m-2">
                            Agregue una foto
                        </p>
                        <img class="object-cover">
                    </label>
                </div>

                <div style="margin-left: 190px; margin-top: -102px">
                    <div class="flex flex-col md:flex-row">
                        <input
                            oninput="this.value = this.value.replace(/[^A-Za-zñÑáéíóúÁÉÍÓÚ\s. ]/g, '').replace(/(\..*)\./g, '$1');"
                            placeholder="Nombre" formControlName="nombre" class="mb-2 md:m-2 w-full md:w-1/4" />
                        <input
                            oninput="this.value = this.value.replace(/[^A-Za-zñÑáéíóúÁÉÍÓÚ\s. ]/g, '').replace(/(\..*)\./g, '$1');"
                            placeholder="Apellido" formControlName="apellido" class="mb-2 md:m-2 w-full md:w-1/4" />
                        <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                            maxlength="10" placeholder="Cedula" formControlName="cedula"
                            class="mb-2 md:m-2 w-full md:w-1/4" />
                        <input placeholder="Direccion" formControlName="direccion"
                            class="mb-2 md:m-2 w-full md:w-1/4" />
                    </div>

                    <div class="flex flex-col md:flex-row">
                        <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                            maxlength="10" placeholder="Celular" formControlName="telefono"
                            class="mb-2 md:m-2 w-full md:w-1/4" />
                        <input type="email" formControlName="email" placeholder="Correo" formControlName="correo"
                            class="mb-2 md:m-2 w-full md:w-1/4" />
                        <input type="password" placeholder="Password" formControlName="contraseña"
                            class="mb-2 md:m-2 w-full md:w-1/4" />
                        <input type="password" placeholder="Confirmacion" formControlName="repetirContraseña"
                            class="mb-2 md:m-2 w-full md:w-1/4" />
                        <input type="hidden" formControlName="key">
                    </div>
                </div>
            </form>
        </div>

        <div class="flex items-center justify-end">
            <!-- BOTON DE AGREGAR -->
            <input type="submit" value="Guardar" class="px-3 py-1 m-2 bg-red-500 rounded-xl text-white" />

            <!-- BOTON DE ACTUALIZAR -->
            <input type="submit" value="Actualizar" class="px-3 py-1 m-2 bg-red-500 rounded-xl text-white" />

            <!-- BOTON DE CANCELAR -->
            <input type="submit" value="Cancelar" class="px-3 py-1 m-2 bg-red-500 rounded-xl text-white" />
        </div>

        <!-- LISTADO -->
        <mat-card class="rounded-lg sm:w-full mx-auto mt-2 sm:mt-0">
            <section class="" tabindex="0">
                <div class="cont-tabla  w-full  overflow-y-scroll h-30 border-cyan-800">
                    <!-- TABLA -->
                    <table mat-table class="w-full h-auto">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="min-w-60 text-center px-2 font-semibold">
                                NOMBRE </th>
                            <td mat-cell *matCellDef="let element" class="min-w-fit text-center px-2 ">
                                {{element.nombre}} {{element.apellido}}</td>
                        </ng-container>

                        <ng-container matColumnDef="correo">
                            <th mat-header-cell *matHeaderCellDef class="min-w-30 text-center px-2 font-semibold">
                                CORREO </th>
                            <td mat-cell *matCellDef="let element" class="min-w-30 text-center px-2 ">
                                {{element.correo}}
                            </td>
                        </ng-container>
                        <!-- CONTENEDOR DE BOTON ACTUALIZAR Y ELIMINAR -->
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef class="min-w-30 text-center px-2 font-semibold">
                                ACCIONES </th>
                            <td mat-cell *matCellDef="let element" class="min-w-50 text-center px-2 ">
                                <!-- BOTON EDITAR -->
                                <button matTooltip="Editar" matTooltipPosition="above">
                                    <i class="bi bi-pencil-square text-blue-900"></i>
                                </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <!-- BOTON DE ELIMINAR -->
                                <button matTooltip="Eliminar" matTooltipPosition="above">
                                    <i class="bi bi-trash3 text-blue-900"></i>
                                </button>

                            </td>
                        </ng-container>

                        <!-- DECLARACION DE LAS COLUMNAS -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </section>
        </mat-card>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>
    </div>
</div>